Repository codes-templates/npm-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat: npm ci to npm i
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
Due: none

docs: add postinstall
  package.json
Due: none

feat: add sass
  .gitignore
  README.md
  package.json
  playground/src/main.tsx
  src/styles/main.scss
Due: eslint --fix

feat: add sass
  .storybook/preview.js
  .stylelintignore
  .stylelintrc.js
  README.md
  package.json
  playground/src/main.tsx
  playground/tsconfig.json
  playground/vite.config.ts
Due: eslint --fix

Update package.json
  package.json
Due: none

docs: pkg
  .eslintignore
  package.json
  tsconfig.json
Due: none

docs: pkg
  package.json
Due: none

docs: pkg
  package.json
  playground/package.json
Due: none

docs: pkg
  package.json
  playground/package.json
  tsconfig.json
Due: none

feat: docs add
  .github/workflows/deploy.yaml
  README.md
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/get-started/_category_.json
  docs/docs/get-started/installation.md
  docs/docs/get-started/markdown-features.mdx
  docs/docs/intro.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/tsconfig.json
  package.json
  tsconfig.json
Due: stylelint --fix, eslint --fix

fix: stylelint
  .vscode/settings.json
  package.json
Due: none

docs: pkg update
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: pkg
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: to vite4
  package.json
  playground/package.json
Due: none

docs: pkg version
  package.json
Due: none

feat: pkg version
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: pkg
  __tests__/__snapshots__/dom.test.tsx.snap
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: pkg
  README.md
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: pkg
  docs/package.json
Due: none

docs: update pkg
  .stylelintrc.js
  docs/package.json
  package.json
  playground/package.json
  playground/tsconfig.json
  src/styles/main.scss
  tsconfig.json
Due: none

docs: update pkg
  src/styles/main.scss
Due: none

docs: update pkg
  .lintstagedrc
  src/styles/main.scss
Due: none

docs: update settings
  package.json
  playground/package.json
  playground/vite.config.ts
  tsconfig.json
  tsup.config.ts
  vite.config.ts
Due: eslint --fix

docs: setting
  .github/workflows/deploy.yaml
  vite.config.ts
Due: eslint --fix

docs: to vite4.3
  .stylelintrc.js
  package.json
  playground/package.json
  postcss.config.js
  src/styles/main.scss
Due: none

feat: use babelrc & broswerslistrc
  .babelrc
  babel.config.js
  package.json
  src/components/Demo.tsx
  vite.config.ts
Due: eslint --fix

docs: update
  src/components/Demo.tsx
Due: eslint --fix

docs: pkg & storybook7
  .github/workflows/deploy.yaml
  .storybook/main.ts
  .storybook/preview.js
  .storybook/preview.ts
  package.json
  playground/package.json
  src/stories/Button.stories.ts
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  tsup.config.ts
Due: eslint --fix

docs: pkg
  .storybook/main.js
  .storybook/preview.js
  .storybook/preview.ts
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Due: eslint --fix

docs: pkg
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/release.yml
  docs/package.json
  package.json
  playground/package.json
Due: none

docs: pkg
  package.json
  src/stories/button.css
Due: stylelint --fix

feat: storybook v7
  .eslintignore
  .eslintrc.js
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview-body.html
  .storybook/preview.js
  .storybook/preview.ts
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.less
  src/stories/header.scss
  src/stories/page.css
Due: stylelint --fix, eslint --fix

fix: storybook build
  .storybook/main.ts
  package.json
  src/stories/Button.tsx
  vite.config.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: **/*.css
  eslint --fix: any of: *.{ts,tsx}
